a{
    text-decoration: none;
    color: #ffffff;
}





/* nav bar started */
.logo{
    width: 165px;
}

.nav-text{
    font-size: 15px;
    font-weight: 300;
}

.franchise{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    border-radius: 25px;
}

.order{
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
}
.arrow{
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 5px;}

    /* nav bar ended */

    /* section 2 started */
    .comtainer{
        width: 1400px;
    }
    /* section 2 ended */

    /* welcome started */
    .product_brand_section {
        padding: 32px 15px 0px 15px !important;
        padding-bottom: 82px !important;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
    .text-logo{
        text-align: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ffffff;
        font-family: "Jaro", sans-serif;
        font-size: 50px;
    }
    .welcome{
        text-align: center;
        font-size: 30px;
        margin-top: 35px;
    }
    p{
        font-size: 16px;
    }
    .buttons{
        padding: 15px 25px 15px 25px;
        border-radius: 25px;
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #ffffff;
        font-size: 13px;
        margin-top: 30px;
        width: 174px;
    }
    /* welcome ended */

    /* branches section started */

    .container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .first-franchise{
        position: relative;
        background-color: rgba(255, 255, 255, 0.06);
        padding: 70px;
    }
    .snp-right-side{
        position: absolute;
        right: 25px;
        top: 25px;
    }
    .custom-row{
        margin: 48px;
    }
    .franchise-home-box-content small{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.48em;
        text-transform: uppercase;
        color: #ed1c24;
        margin-bottom: 8px;
    }
    .franchise-home-box-content h3{
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 24px;
    }
    .logo-text-second{
        font-family: "Jaro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
    }
    .franchise-home-box-content-3{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        color: rgb(255, 255, 255, 0.7);
    }
    .franchise-home-box-content-4{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        color: rgb(255, 255, 255, 0.7);
    }
    
